* {
    margin:0;
    padding: 0;
    font-family: Open Sans;
    text-decoration: none;
}

button{
    display: none;
    background-color: #5FBDB1;
    border-radius: 5px;
}

img {
    max-width:100%;
}

.TitleInfusion{
    display: block;
    width: 30%;
    padding: 20px;
    background-color: #5FBDB1;
    border: solid 1px black;
    font-size: large;
    color: white;
    text-align: center;
}

.Menu li{
    width: 100%;
    background-color: #232C2C;
    text-align: center;
    outline-style: solid;
    outline-color: rgba(128,120,120,0.2);
    outline-offset: -1px;
}

.Menu li a{
    display: block;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    padding:20px;
    font-size: 14px;
    font-weight: bold;
}



.Menu li a:hover{
    color:rgb(55, 143, 143);
    transition: ease-in 0.5s;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('../img/herobg.jpg');
    background-size: cover;
    height: 80vh;
    align-items: center;
}


.herotitle{
    font-weight: 600;
    color: whitesmoke;
}

.herotext{
    font-weight: lighter;
    color: whitesmoke;
}

.herolink{
    font-weight: 600;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(8, 156, 132, 0.562);
    border:solid black 2px;
    color: whitesmoke;
}

.herolink:hover{
    background-color: rgb(8, 185, 156);
    transition: ease 0.5s;
}


.creatorsection{
    margin-top: 20px;
    display: block;
    outline: solid rgba(0,0,0,0.3) 2px;
    outline-offset: -2px;
}

.creatorsection:hover .bgteam{
    outline: solid  rgb(8, 185, 156) 3px;
}

.creatorsection:hover{
    outline: solid  rgb(8, 185, 156) 3px;
}

.creatorsection:hover p{
    color: rgb(8, 185, 156);
}

.creatorsection:hover h2{
    color: rgb(7, 146, 123);
}

.creatorsection:hover .partner img{
    transform:translateY(-50%);
}

.bgteam{
    width:100%;
    outline: solid rgba(0,0,0,0.3) 4px;
}

.partner{
    height: 85px;
    width: 86px;
    margin: -55px auto;
    overflow-y: hidden;
}


.creatorcontent{
    text-align: center;
    margin-top: 80px;
}

.creatorcontent p{
    padding: 40px;
}

.images-section{
    margin: 80px 0px;
    display: flex;
    flex-direction: column;

    outline: black solid 5px;
}


.title-images-section{

    color: whitesmoke;
    padding: 30px;
    margin: auto;
    background-color: rgba(8, 99, 76, 0.8);
    font-weight: 900;
    font-size: 30px;
}

.header-images-section{
    text-align: center;
    width: 100%;
}


.articles-gallery img{
    outline:5px black groove;
    outline-offset: -4px;
}

.articles-gallery a{
    position: relative;
    display: block;
}

.hover-effect{
    margin: -101% 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.815),rgba(0, 0, 0, 0.712));
    opacity: 0.0;
    outline:5px rgba(14, 250, 199,0.8) groove;
    outline-offset: -9px;
}

.articles-gallery a:hover .hover-effect{
    opacity: 0.6;
}
